@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="flex items-center justify-center h-32 bg-gradient-to-r from-yellow-200 via-pink-200 to-purple-200">
        <h1 class="text-6xl font-extrabold text-gray-900 drop-shadow-md animate-bounce">
            Animated with tailwind :D
        </h1>
    </div>
    <div class="h-32 from-blue-300 via-orange-300 to-green-300 bg-gradient-to-r flex items-center justify-center"><h2
            class="mt-12 animate-pulse text-blue-600 text-center text-shadow-2xs text-xl">I love Tailwind!</h2></div>

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
